.box{
  display: flex;
  flex-direction: row;
  gap: 60px;
  position: relative;

  &-img{
    height: 249px;
    border-radius: 5px;
  }

  &-btn-1{
    position: absolute;
    top: 188px;
    left: 44px;
    width: 106px;
    height: 42px;
    background-color: #25BE8B;
    border: 1px solid white;
    border-radius: 5px;
  }

  &-btn-2{
    position: absolute;
    top: 188px;
    left: 422px;
    width: 106px;
    height: 42px;
    background-color: #25BE8B;
    border: 1px solid white;
    border-radius: 5px;
  }

  &-btn-3{
    position: absolute;
    top: 188px;
    left: 822px;
    width: 106px;
    height: 42px;
    background-color: #25BE8B;
    border: 1px solid white;
    border-radius: 5px;
  }
}